In [1]:
import boto3
import time

In [2]:
import pandas as pd
from io import StringIO

In [6]:
athenaClient = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION)

In [34]:
Dict = {}
def download_and_load_query_results(client, query_response):
    while True:
        try:
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(2)
            else:
                raise err
                
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client("s3",
                            aws_access_key_id=AWS_ACCESS_KEY,
                            aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                            region_name=AWS_REGION)
    s3_client.download_file(
    S3_BUCKET_NAME,
    f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
    temp_file_location)
    return pd.read_csv(temp_file_location)

In [37]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM enigma_jhu;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

In [38]:
response

{'QueryExecutionId': '5490a2b6-82da-48a9-ac86-ca629387f1d2',
 'ResponseMetadata': {'RequestId': 'f3fdd710-13a8-4c1e-8a14-f18c29961344',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 30 Oct 2022 09:09:50 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'f3fdd710-13a8-4c1e-8a14-f18c29961344'},
  'RetryAttempts': 0}}

In [41]:
enigJhu = download_and_load_query_results(athenaClient,response)

In [42]:
enigJhu

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"
...,...,...,...,...,...,...,...,...,...,...,...,...
222799,NaN,NaN,NaN,West Bank and Gaza,2020-05-30T02:32:48,31.952,35.233,446.0,3.0,368.0,75.0,West Bank and Gaza
222800,NaN,NaN,NaN,Western Sahara,2020-05-30T02:32:48,24.215,-12.886,9.0,1.0,6.0,2.0,Western Sahara
222801,NaN,NaN,NaN,Yemen,2020-05-30T02:32:48,15.553,48.516,283.0,65.0,11.0,207.0,Yemen
222802,NaN,NaN,NaN,Zambia,2020-05-30T02:32:48,-15.417,28.283,1057.0,7.0,779.0,271.0,Zambia
222803,NaN,NaN,NaN,Zimbabwe,2020-05-30T02:32:48,-20.000,30.000,149.0,4.0,28.0,117.0,Zimbabwe

In [51]:
enigJhu.to_csv('enigma_jhu.csv')

In [45]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM hospitalbedsrearc_usa_hospital_bed_de_tutorial;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

hospitalBeds = download_and_load_query_results(athenaClient,response)

In [56]:
hospitalBeds.to_csv('hospitalBeds.csv')

In [46]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM nytuscountiesuscounties;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

nytusCounties = download_and_load_query_results(athenaClient,response)

In [57]:
nytusCounties.to_csv('nytusCounties.csv')

In [47]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM nytusstatesusstates;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

nytUsStates = download_and_load_query_results(athenaClient,response)

In [58]:
nytUsStates.to_csv('nytUsStates.csv')

In [48]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM staticdatacountrycode;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

countryCode = download_and_load_query_results(athenaClient,response)

In [59]:
countryCode.to_csv('CountryCode.csv')

In [49]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM staticdatacountypopulation;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

countyPop = download_and_load_query_results(athenaClient,response)

In [60]:
countyPop.to_csv('countyPop.csv')

In [50]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM staticdatastateabvr;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

staticStateAbbr = download_and_load_query_results(athenaClient,response)

In [62]:
staticStateAbbr.to_csv('staticState.csv')

In [63]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM testingdailydaily_data;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

testingDaily = download_and_load_query_results(athenaClient,response)
testingDaily.to_csv('testingDaily.csv')

In [64]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM testing_us_totalus_total_latest;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

testingUStotal = download_and_load_query_results(athenaClient,response)
testingUStotal.to_csv('testingUStotal.csv')

In [65]:
response = athenaClient.start_query_execution(
    QueryString = "SELECT * FROM testing_statesstatest_latest_daily;",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"}    
    })

testingStates = download_and_load_query_results(athenaClient,response)
testingStates.to_csv('testingStates.csv')

In [66]:
enigJhu.columns

Index(['fips', 'admin2', 'province_state', 'country_region', 'last_update',
       'latitude', 'longitude', 'confirmed', 'deaths', 'recovered', 'active',
       'combined_key'],
      dtype='object')

In [68]:
factCovid1 = enigJhu[['fips', 'province_state', 'country_region','confirmed', 'deaths', 'recovered','active']]

In [69]:
testingStates.columns

Index(['date', 'state', 'positive', 'probablecases', 'negative', 'pending',
       'totaltestresultssource', 'totaltestresults', 'hospitalizedcurrently',
       'hospitalizedcumulative', 'inicucurrently', 'inicucumulative',
       'onventilatorcurrently', 'onventilatorcumulative', 'recovered',
       'lastupdateet', 'datemodified', 'checktimeet', 'death', 'hospitalized',
       'hospitalizeddischarged', 'datechecked', 'totaltestsviral',
       'positivetestsviral', 'negativetestsviral', 'positivecasesviral',
       'deathconfirmed', 'deathprobable', 'totaltestencountersviral',
       'totaltestspeopleviral', 'totaltestsantibody', 'positivetestsantibody',
       'negativetestsantibody', 'totaltestspeopleantibody',
       'positivetestspeopleantibody', 'negativetestspeopleantibody',
       'totaltestspeopleantigen', 'positivetestspeopleantigen',
       'totaltestsantigen', 'positivetestsantigen', 'fips', 'positiveincrease',
       'negativeincrease', 'total', 'totaltestresultsincrease', 'posneg',
       'dataqualitygrade', 'deathincrease', 'hospitalizedincrease', 'hash',
       'commercialscore', 'negativeregularscore', 'negativescore',
       'positivescore', 'score', 'grade'],
      dtype='object')

In [71]:
factCovid2 = testingStates[['fips','date', 'state', 'positive', 
                            'negative', 'hospitalizedcurrently', 'hospitalized',
                            'hospitalizeddischarged']]

In [72]:
factCovid = pd.merge(factCovid1, factCovid2, on='fips', how='inner')

In [128]:
factCovid = pd.read_csv('factCovid.csv',index_col=False)

In [132]:
factCovid.head()

,Unnamed: 0,fips,province_state,country_region,confirmed,deaths,recovered,active,date,state,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,0,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210219,PR,98624.0,305972.0,214.0,NaN,NaN
1,1,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210218,PR,98506.0,305972.0,233.0,NaN,NaN
2,2,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210217,PR,98428.0,305972.0,241.0,NaN,NaN
3,3,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210216,PR,98317.0,305972.0,220.0,NaN,NaN
4,4,72.0,Puerto Rico,US,3.0,0.0,0.0,NaN,20210215,PR,97837.0,305972.0,209.0,NaN,NaN

In [74]:
dimRegion1 = enigJhu[['fips','province_state', 'country_region','latitude', 'longitude']]
dimRegion2 = nytusCounties[['fips','county','state']]

In [78]:
dimHospital = hospitalBeds[['fips','state_name','hospital_name', 'hospital_type', 
                            'hq_address','hq_city', 'hq_state',
                            'latitude', 'longtitude']]

In [3]:
import pandas as pd

In [85]:
dimHospital = pd.read_csv('dimhospital.csv')

In [86]:
dimRegion1 = pd.read_csv('dimReg1.csv')

In [88]:
dimRegion2 = pd.read_csv('dimReg2.csv')

In [82]:
bucket = 'de-glued'

In [83]:
csv_buff = StringIO()

In [84]:
factCovid.to_csv(csv_buff)

In [85]:
s3Reso = boto3.resource('s3')
s3Reso.Object(bucket,'output/factcovid.csv').put(Body=csv_buff.getvalue())

{'ResponseMetadata': {'RequestId': 'FJCGNN4YX4B4YPGR',
  'HostId': 'ufYTHGC/tcCGaMnEjkCiE051GNx+yKVne0/1EsmhBuwwPfGoS6WoQuKUZO9thV/dZtAzJ9mMc20=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'ufYTHGC/tcCGaMnEjkCiE051GNx+yKVne0/1EsmhBuwwPfGoS6WoQuKUZO9thV/dZtAzJ9mMc20=',
   'x-amz-request-id': 'FJCGNN4YX4B4YPGR',
   'date': 'Sun, 30 Oct 2022 09:52:03 GMT',
   'etag': '"f31927bc2851b035acd5020930418316"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"f31927bc2851b035acd5020930418316"'}

In [86]:
dimHospital.to_csv(csv_buff)

In [87]:
s3Reso.Object(bucket,'output/dimHospital.csv').put(Body=csv_buff.getvalue())

{'ResponseMetadata': {'RequestId': 'DR9WZPDT7AJSRNKK',
  'HostId': 'SmuwdPDosEwW0yMerj62GpmeBAf95ETk0TkiNqcs7dSOLc/m6BGMQI3GscyNPqmR0/Q6Rkvdma8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'SmuwdPDosEwW0yMerj62GpmeBAf95ETk0TkiNqcs7dSOLc/m6BGMQI3GscyNPqmR0/Q6Rkvdma8=',
   'x-amz-request-id': 'DR9WZPDT7AJSRNKK',
   'date': 'Sun, 30 Oct 2022 09:53:49 GMT',
   'etag': '"052b91a93c128f0920be05c2066e5f13"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"052b91a93c128f0920be05c2066e5f13"'}

In [88]:
dimRegion2.to_csv(csv_buff)

In [89]:
s3Reso.Object(bucket,'output/dimRegion2.csv').put(Body=csv_buff.getvalue())

{'ResponseMetadata': {'RequestId': 'A38ZYQ8GH0EZPB4Q',
  'HostId': 's/Lo3j39XdhQ5eToV5jPNmYmi57C1p1mYlMJwlZzLPgQ75PLp7Yi9obkinTiTefUO2QvZ6HPkqU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 's/Lo3j39XdhQ5eToV5jPNmYmi57C1p1mYlMJwlZzLPgQ75PLp7Yi9obkinTiTefUO2QvZ6HPkqU=',
   'x-amz-request-id': 'A38ZYQ8GH0EZPB4Q',
   'date': 'Sun, 30 Oct 2022 09:54:42 GMT',
   'etag': '"38772b5e9abe9a26aff5357caaca014d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"38772b5e9abe9a26aff5357caaca014d"'}

In [90]:
dimRegion1.to_csv(csv_buff)

In [91]:
s3Reso.Object(bucket,'output/dimRegion1.csv').put(Body=csv_buff.getvalue())

{'ResponseMetadata': {'RequestId': 'F7GEQ1MR2EZWD1NX',
  'HostId': 'jIPKCPM9u2r3VDMW+uPLxhSNNhoPxDC7gH+dftn/Ja+idHdGmrDxzZ9i053PJHizwO0T03M8tt8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'jIPKCPM9u2r3VDMW+uPLxhSNNhoPxDC7gH+dftn/Ja+idHdGmrDxzZ9i053PJHizwO0T03M8tt8=',
   'x-amz-request-id': 'F7GEQ1MR2EZWD1NX',
   'date': 'Sun, 30 Oct 2022 09:56:06 GMT',
   'etag': '"07ec7728c5eabbdb5385fe2779283572"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"07ec7728c5eabbdb5385fe2779283572"'}

In [129]:
factCovidSql = pd.io.sql.get_schema(factCovid.reset_index(),'factCovid')

In [89]:
dimHospitalSql = pd.io.sql.get_schema(dimHospital.reset_index(),'dimHospital')

In [90]:
dimRegion1 = pd.io.sql.get_schema(dimRegion1.reset_index(),'dimRegion1')

In [91]:
dimRegion2 = pd.io.sql.get_schema(dimRegion2.reset_index(),'dimRegion2')

In [131]:
print("".join(factCovidSql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "Unnamed: 0" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "state" TEXT,
  "positive" REAL,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [111]:
pd.io.sql.get_schema(factCovid,'factCovid')

'CREATE TABLE "factCovid" (\n"Unnamed: 0" INTEGER,\n  "fips" REAL,\n  "province_state" TEXT,\n  "country_region" TEXT,\n  "confirmed" REAL,\n  "deaths" REAL,\n  "recovered" REAL,\n  "active" REAL,\n  "date" INTEGER,\n  "state" TEXT,\n  "positive" REAL,\n  "negative" REAL,\n  "hospitalizedcurrently" REAL,\n  "hospitalized" REAL,\n  "hospitalizeddischarged" REAL\n)'

In [93]:
dimHospitalSql

'CREATE TABLE "dimHospital" (\n"index" INTEGER,\n  "Unnamed: 0" INTEGER,\n  "fips" REAL,\n  "state_name" TEXT,\n  "hospital_name" TEXT,\n  "hospital_type" TEXT,\n  "hq_address" TEXT,\n  "hq_city" TEXT,\n  "hq_state" TEXT,\n  "latitude" REAL,\n  "longtitude" REAL\n)'

In [94]:
dimRegion1

'CREATE TABLE "dimRegion1" (\n"index" INTEGER,\n  "Unnamed: 0" INTEGER,\n  "fips" REAL,\n  "province_state" TEXT,\n  "country_region" TEXT,\n  "latitude" REAL,\n  "longitude" REAL\n)'

In [95]:
dimRegion2

'CREATE TABLE "dimRegion2" (\n"index" INTEGER,\n  "Unnamed: 0" INTEGER,\n  "fips" REAL,\n  "county" TEXT,\n  "state" TEXT\n)'

In [4]:
#Initiating Config

In [45]:
(DWH_IAM_ROLE_NAME)

'redshift-s3-access'

In [6]:
import boto3

In [7]:
import configparser

In [2]:
config = configparser.ConfigParser()

NameError: name 'configparser' is not defined

In [1]:
config.read_file(open('post.config'))

NameError: name 'config' is not defined

In [47]:
KEY = config.get('AWS','KEY')
SECRET = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE=config.get('DWH','DWH_CLUSTER_TYPE')
DWH_NUM_NODES=config.get('DWH','DWH_NUM_NODES')
DWH_NODE_TYPE=config.get('DWH','DWH_NODE_TYPE')
DWH_CLUSTER_IDENTIFIER=config.get('DWH','DWH_CLUSTER_IDENTIFIER')
DWH_DB=config.get('DWH','DWH_DB')
DWH_DB_USER=config.get('DWH','DWH_DB_USER')
DWH_DB_PASSWORD=config.get('DWH','DWH_DB_PASSWORD')
DWH_PORT=config.get('DWH','DWH_PORT')
DWH_IAM_ROLE_NAME=config.get('DWH','DWH_IAM_ROLE_NAME')

In [48]:
config.get('DWH','DWH_IAM_ROLE_NAME')

'redshiftRole'

In [17]:
ec2 = boto3.resource('ec2',
                    region_name="us-east-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [43]:
iam = boto3.client('iam',
                    region_name="us-east-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [21]:
redshift = boto3.client('redshift',
                    region_name="us-east-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [22]:
s3 = boto3.resource('s3',
                    region_name="us-east-1",
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET)

In [33]:
bucket = s3.Bucket("de-glued")

In [36]:
locFile = [filename.key for filename in bucket.objects.filter(Prefix='output/Unsaved/2022/10')]

In [53]:
roleARN = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)

In [58]:
iamArn = roleARN['Role']['Arn']

In [59]:
try:
    response = redshift.create_cluster(
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        IamRoles=[iamArn]
    )
except Exception as e:
    print(e)

In [66]:
clusterProp = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]

In [68]:
DWH_ENDPOINT = clusterProp['Endpoint']['Address']
DWH_ROLE_ARN = clusterProp['IamRoles'][0]['IamRoleArn']
DB_NAME=clusterProp['DBName']
DB_USER= clusterProp['MasterUsername']

In [69]:
DWH_ENDPOINT

'redshift-covid.cyg2sluuahwh.us-east-1.redshift.amazonaws.com'

In [70]:
clusterProp['VpcId']

'vpc-0b4db824c1d632c16'

In [74]:
try:
    vpc = ec2.Vpc(id=clusterProp['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
            GroupName=defaultSg.group_name,
            CidrIp='0.0.0.0/0',
            IpProtocol='TCP',
            FromPort=int(DWH_PORT),
            ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0290e6034c427a02a')

In [75]:
import redshift_connector

In [76]:
import psycopg2

In [113]:
try:
    conn = psycopg2.connect(host=DWH_ENDPOINT,dbname=DB_NAME,user=DB_USER,password=DWH_DB_PASSWORD,port=DWH_PORT)
except Exception as e:
    print(e)

In [114]:
conn.set_session(autocommit=True)

In [115]:
try:
    cur = conn.cursor()
    
except:
    print(e)

In [133]:
try:
    cur.execute("""
        CREATE TABLE "factcorrected" (
            "index" INTEGER,
          "fips" REAL,
          "province_state" TEXT,
          "country_region" TEXT,
          "confirmed" REAL,
          "deaths" REAL,
          "recovered" REAL,
          "active" REAL,
          "date" INTEGER,
          "state" TEXT,
          "positive" REAL,
          "negative" REAL,
          "hospitalizedcurrently" REAL,
          "hospitalized" REAL,
          "hospitalizeddischarged" REAL
    )
    """)
except Exception as e:
    print(e)

In [125]:
DWH_ROLE_ARN

'arn:aws:iam::642924624251:role/redshiftRole'

In [134]:
try:
    cur.execute("""
        COPY factcorrected from 's3://de-glued/output/factcovid.csv'
        CREDENTIALS 'aws_iam_role=arn:aws:iam::642924624251:role/redshiftRole'
        DELIMITER ','
        region 'us-east-1'
    """)
except Exception as e:
    print(e)

Load into table 'factcorrected' failed.  Check 'stl_load_errors' system table for details.